@use '../abstracts' as *;

.header {
    color: var(--heading);
}

.container{
 
  background-color:var(--bg);
    display:grid;
    grid-template-columns:1fr;
    justify-items:center;
    align-content:center;
    height:100vh;
}

p{
    max-width:60ch;
    text-align:center;
    color:var(--body);
}
.header-btn{
    background-color:var(--btn-bg);
    color:var(--btn-text);
}


