<div class="card">
    <div class="card-img">
        <img src="./images/admin/admin.png" alt="" class="admin-img" />
    </div>
    <div class="card-body">
        <h2 class="card-title">Landry Barb</h2>
        <p class="card-subtitle">Administrator</p>
    </div>
</div>

@code {

}
