
$colors:(
    brand:(
        dt: 241 73% 63%,
        lt: 253 73% 60%,
    ),
    base: (
        dt: 240 2% 18%,
        lt: 0 0% 100%,

    ),
    accent:(
        dt: 253 49% 36%,
        lt: 253 63% 60%,
    ),
    theme:(
        dt: 240 3% 11%,
        lt: 249 59% 95%,
    ),

    black:(
        100:240 3% 11%,
        200: 240 2% 18%,
    ),
    white:(
        100:0 0% 98%,
        200: 249 59% 95%, 
    ),
    )


