@inherits LayoutComponentBase
@using BlazorPro.BlazorSize

<HeadContent>
    @if (IsDark && IsAutoTheme)
    {
        <link href="css/main-Dark.css" rel="stylesheet" />

    }
    else
    {
    <link href="css/main-Light.css" rel="stylesheet" />
        
    }
    <link href="css/main.css" rel="stylesheet" />
    <link href="BlazingTalentAgency.Client.styles.css" rel="stylesheet" />
</HeadContent>

<MediaQueryList>
    <MediaQuery Media="(prefers-color-scheme: dark)" @bind-Matches="IsDark"/>

    <header class="main-header">
        <h2 class="logo">Blazing Talent Agency</h2>
         <label for="theme-auto">
            <p>Detect Theme?</p>
         <input  type="checkbox" @bind-value="IsAutoTheme"></input>
           

         </label>
    </header>
    
    

        <NavMenu />
  

    <main>

        <article class="content px-4">
            @Body
        </article>
    </main>
]
</MediaQueryList>

@code{
    bool IsDark;
    bool IsAutoTheme;
}