


@if(navmenu  == null)
{
    <p>Loading</p>
}
else
{
    <nav class="sidebar">
    <div class="menu-icon">
        <div class="line line-1"></div>
        <div class="line line-2"></div>
        <div class="line line-3"></div>

    </div>
    <AdminCard/>

    <ul class="nav_list ">
     @foreach (var item in navmenu)
     {
         <li class="nav_list_item">
             <NavLink href="@item.Url" class="nav_list_item_link" ActiveClass="active" Match="NavLinkMatch.All">
                 @item.Name
             </NavLink>
         </li>
     }
 </ul>
av>
</nav>

}


@code{





    List<NavigationMenu> navmenu = new();
    protected override void OnInitialized()
    {
        navmenu.Add(new()
            {
                Id = 1,
                Name="Home",
                Url="/"
            });

            navmenu.Add(new()
    {
        Id = 2,
        Name="Clients",
        Url="/clients"
    });

    navmenu.Add(new()
    {
        Id = 3,
        Name="auditions",
        Url="/auditions"
    });

    navmenu.Add(new()
    {
        Id = 4,
        Name="Settings",
        Url="/settings"
    });

    navmenu.Add(new()
    {
        Id = 1,
        Name="agents",
        Url="/agents"
    });
    }






}